<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaJ_FXyaOaVvD-WHRvHurgI5lWZ-XFV_k</string>
	<key>GCM_SENDER_ID</key>
	<string>263545182126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serdaraltindas.JobApplicationTask</string>
	<key>PROJECT_ID</key>
	<string>jobapplicationtask-1fa68</string>
	<key>STORAGE_BUCKET</key>
	<string>jobapplicationtask-1fa68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263545182126:ios:8124cdd1c6584c0ed31a3f</string>
</dict>
</plist>